@model IEnumerable<wool.Model.item>
@{

    Layout = "~/_LayoutPage1.cshtml";
}

<div class="right_cont">
    <ul class="breadcrumb">
        当前位置：
        首页
        <span class="divider">/</span>
        业务处理
        <span class="divider">/</span>
        资讯列表
    </ul>

    <div class="title_right"><span class="pull-right margin-bottom-5"><a class="btn btn-info btn-small" id="modal-9735581" href="#modal-container-9735581" role="button" data-toggle="modal"><i class="icon-plus icon-white"></i> 添加资讯</a></span><strong>资讯列表</strong></div>
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr align="center">
                <td nowrap="nowrap"><strong>标题</strong></td>
                <td nowrap="nowrap"><strong>分类</strong></td>
                <td nowrap="nowrap"><strong>商城名称</strong></td>
                <td nowrap="nowrap"><strong>价格</strong></td>
                <td nowrap="nowrap"><strong>发布用户</strong></td>
                <td nowrap="nowrap"><strong>审核状态</strong></td>
                <td width="80" nowrap="nowrap"><strong> 操作 </strong></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr align="center">
                    <td nowrap="nowrap">@Html.DisplayFor(modelItem => item.title)</td>
                    <td nowrap="nowrap">@Html.DisplayFor(modelItem => item.type)</td>
                    <td nowrap="nowrap">@Html.DisplayFor(modelItem => item.mall_name)</td>
                    <td nowrap="nowrap">@Html.DisplayFor(modelItem => item.price)</td>
                    <td nowrap="nowrap">@Html.DisplayFor(modelItem => item._User.nickname)</td>
                    @if (item.state != "1")
                    {
                        <td nowrap="nowrap">
                            未审核
                        </td>
                    }
                    else
                    {
                        <td nowrap="nowrap">
                            已审核
                        </td>
                    }
                    <td nowrap="nowrap"><a href="@Url.Action("CheckItem",new {objectId=item.objectId })">审核</a><a href="@Url.Action("Edit",new {objectId=item.objectId })">编辑</a><a href="@Url.Action("DeleteItem",new {objectId=item.objectId })">删除</a> </td>
                </tr>}
        </tbody>
    </table>
    <table class="margin-bottom-20 table  no-border">
        <tr>
            @*<td class="text-center"><input type="button" value="打印" class="btn btn-info" style="width:80px;" /></td>*@
        </tr>
    </table>
</div>
